@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #11181c;
  --default: #d4d4d8;
  --default-100: #f2f2f3;
  --default-500: #71717a;
  --primary: #006fee;
  --secondary: #7828c8;
  --success: #17c964;
  --warning: #f5a524;
  --danger: #f31260;
}

@theme inline {
  /* base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-content1: var(--background);
  --color-content2: #f4f4f5;
  --color-content3: #e4e4e7;
  --color-content4: #d4d4d8;

  /* semantic colors */
  --color-default: var(--default);
  --color-default-100: var(--default-100);
  --color-default-500: var(--default-500);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-1_5xl: 0.875rem;

  --shadow-small: 0px 0px 5px 0px #00000005, 0px 2px 10px 0px #0000000f, 0px 0px 1px 0px #0000004d;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}

@utility outline-focus {
  outline-color: #006fee;
}

@utility transition-transform-colors-opacity {
  transition-property:
    transform, scale, color, background, background-color, border-color, text-decoration-color, fill,
    stroke, opacity;
  -duration: 0.25s;
  transition-timing-function: ease;
}

body {
  background: var(--background);
  color: var(--foreground);
}
